*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
}
#main{
    width: 98vw;
    background-color: #eeeeee;
    margin: 2rem auto;
    border-radius: .5rem;
    min-width: 300px
}
.header{
    text-align: center;
    padding: 4rem 0 2rem;
}
.header #title{
    font-size: 2.8rem;
    padding-bottom: 2.5rem;
}
p,
figcaption,
ul{
    font-size: 1.6rem;
}
#img-div{
    background-color: white;
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figure{
    width: 1000px;
    max-width: 70%;
}
#image{
    max-width: 100%;
    height: auto;
    display: block;
}
figcaption{
    text-align: center;
    padding: 2rem 0;
}
.bio{
    width: 60rem;
    max-width: 70%;
    margin: 0 auto;
}
h2{
    font-size: 2.4rem;
    padding: 4rem;
    text-align: center;
}
span, 
#tribute-info{
    font-weight: bold;
}
ul li, 
#tribute-info{
    padding-bottom: 2.5rem;
}
#tribute-info{
    text-align: center;
}