*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-weight: 62.5%;
    font-family: Helvetica, sans-serif;
}
.main-wrapper{
    background-color: #eeeeee;
    min-width: 400px
}
#header{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}
#header-img,
#nav-bar{
    width: 20rem;
    height: auto;
    padding: .5rem 0;
}
#nav-bar{
    text-align: center;
    line-height: 2rem;
}
a{
    display: inline-block;
    padding: 0 .5rem;
    color: #000;
}
#nav-bar a:hover{
    text-decoration: underline;
}
main,
footer{
    max-width: 70vw;
    margin: auto;
}
h2,
form{
    text-align: center;
}
input{
    margin: 0.5rem 0;
    padding: .3rem .5rem;
}
input[type="submit"]{
    background-color: #f1c40f;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    text-transform: uppercase;
}
#Features{
    margin: 5rem 0;
}
section{
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
}
.icon{
    color: #ff8c00;
    width: 20%;
}
.feature{
    width: 80%;
}
#How_It_Works{
    margin: auto;
    width: fit-content;
}
#Pricing{
    margin: 4rem 0 2rem;
    display: flex;
    justify-content: center;
}
#Pricing div{
    text-align: center;
    margin-right: 1rem;
    border: 1px solid #000;
    border-radius: 2px;
}
#Pricing div h2{
    background-color: #dddddd;
    padding: .5rem 3rem;
}
#Pricing div h3{
    padding: 1rem 0;
}
#Pricing div p{
    line-height: 2rem;
}
footer{
    background-color: #dddddd;
    text-align: right;
    padding: 2rem;
}